body{
    background: #333;
    padding-top: 3em;
}
header{
    font-size: 2em;
    color: aquamarine;
    text-align: center;
}
.todo-app{
    width: 80%;
    margin: 3em auto;
    border: .3em solid #DDD;
    background: #FFF;
}

.todo-add{
    position: relative;
    line-height: 4em;
    vertical-align: middle;
}
.todo-add>input{
    width: 98%;
    height: 3em;
    border: 1px solid aquamarine;
    outline: aquamarine;
}
.todo-add>input:focus{
    border: 1px solid aquamarine;
}
.todo-add>.todo-add-btn{
    display: inline-block;
    position: absolute;
    top: 0; right: 0;
    width: 4em;
    height: 4em;
    line-height: 4em;
    vertical-align: middle;
    text-align: center;
    font-size: 1em;
    margin-left: -3em;
    border-radius: 100%;
    background: aquamarine;
    border: none;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
}
.todo-add>.todo-add-btn:focus, .todo-add>.todo-add-btn:hover{
    box-shadow: 2px 2px 5px 4px #7FDDC4;
}

.todo-items{
    margin-top: 1em;
}
.todo-items li{
    width: 100%;
    line-height: 3em;
    padding-left: 1em;
    box-sizing: border-box;
    background: #666;
    color: #DDD;
}
.todo-items li:hover{
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}
.todo-items li:nth-child(2n){
    background: #777;
}
.removeTodo,.editTodo{
    float: right;
    width: 2em;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    color: #FF7E7E;
}
.removeTodo:hover, .editTodo:hover{
    cursor: pointer;
}

/* stretch icon to containing div */
.removeTodo i, .editTodo i{
    display: block;
    width: 100%;
    height: 100%;
    opacity: .7;
}
.removeTodo i::before, .editTodo i::before{
    vertical-align: middle;
    line-height: 3em;
    opacity: .7;
}

.removeTodo:hover i::before, .editTodo:hover i::before{
    opacity: 1;
}

.todos-total{
    line-height: 3em;
}

.completed{
    text-decoration: line-through;
}

